:root, body, html, #root {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

header {
  width: 100%;
  max-width: 500pt;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #82614A;
}
